@import "base_color";
@import "index";
@import "post";


html {
    font-family: 'consolas', cursive;
    background-image: url(/assets/images/memphis-colorful.png)
}

h1 {
    text-align: center;
    font-size: 2em;
}

h1,h2,h3,h4,body,p{
    color: $baseFontColor;
}

image{
    width: 100%;
    height: 100%;
}

pre ,blockquote{
    padding-left: 10px;
    border: 0.3em solid $borderColor;
    background-color:$codeBackgroundColor;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    width: 65%;
    padding: 1%;
}

.center {
    text-align: center;
}

.language-Java{
    font-family: consolas;
}

.menu ul li {
    margin: 1%;
}

.post {
    font-family: consolas;
    background-color: $postBackgroundColor;
    padding: 2%;
}

#indexMenu {
    list-style: none;
    position: relative;
    font-size: 1em;
}
#header {
    border-radius: 50%;
    width: 3%;
    height: 3%;
}

#indexMenu li {
    margin: 0.5%;
    color: brown;
    display: inline;
}
#indexMenu li a{
    text-decoration: none;
}

