.menu ul li {
    margin: 1%;
}

#indexMenu {
    list-style: none;
    position: relative;
    font-size: 1em;
}
#header {
    border-radius: 50%;
    width: 3%;
    height: 3%;
}

#indexMenu li {
    margin: 0.5%;
    color: brown;
    display: inline;
}
#indexMenu li a{
    text-decoration: none;
}
