<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title | default: site.github.repository_name }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="icon" href="{{ '/assets/images/book.ico' | relative_url }}" type="image/x-icon">
  </head>

  <header>
    <ul id="indexMenu">
        <li>
            <img  id="header" src="/assets/images/header.jpg">
        </li>
        <li>
          <a href="">About me</a>
        </li>
        <li>
          <a href="/assets/md/todo-list.html">Books I'am Reading</a>
        </li>
    </ul>
  </header>

  <body>
      <div class="container">
          <section class="menu">
            {{ content }}
          </section>
      </div>
  </body>

</html>
